body{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.box{
  display:flex;
  flex-flow: column nowrap;  
  align-items: center;
  justify-content: space-evenly;
  background-color: skyblue;
  color: black;
  padding: 10px;
  border-radius: 20px;
}

.example-box{
    width: 50px;
    height: 50px;
    background-color: black;
    margin:10px;
    padding:10px;
}

form{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: space-around;
}

.form-group{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
    padding:10px;
}

.lbl-radius{
    font-size:1.1em;
    font-weight: bold;
    margin:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.radius{
    border-radius: 10px;
    border:none;
    background-color: antiquewhite;
    color:brown;
    padding:10px;
}

button[type="button"]{
    padding:10px;
    margin:10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
}